body{
	background-image: url(sky.png);
		background-attachment: fixed;
		background-position: center center;
		background-size: cover;
		background-repeat: repeat;
}

 #boxshadow img {
 	width: 27%;
 	border:1px #8a4419;
 	border-style: inset;
 	text-align: center;
 	box-shadow: 5px 5px black;
 }

#love {
	color: yellow;
	border: 5px solid yellow;
	padding: 10px;
    outline-style: groove;
	outline-color: black;
	font-family: Chela one;
}