#intro {text-align:center;
font-family: Chela one}
#laugh {color:rgb(53,152,252);
font-family: Chela one}
#color{background-color: blue;
font-family: Chela one}
#second{color:rgb(53,152,252);
font-family:Chela one;}
#cool{color:blue;
font-family: Chela one}
